@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,800;1,900&family=Ubuntu:ital,wght@0,700;1,700&display=swap');
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #080808;
    color: white;
    /* padding: 10px 10%; */
}

header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/background2.jpg);
    background-size: cover;
}

.container {
    padding: 10px 10%;
}

.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container nav ul {
    margin-right: 30px;
}

.container nav ul li {
    list-style: none;
    display: inline-flex;
    margin: 10px 20px;
}

.container nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.container nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.container nav ul li a:hover::after {
    width: 100%;
}

.container nav h1 {
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
}

.container nav h1 span {
    color: rgb(224, 0, 0);
}

.header-txt {
    float: right;
    margin-top: 6%;
    font-size: 30px;
}

.header-txt h1 {
    color: #cad1f9;
}

.header-txt h1 span {
    color: #ff1c1c;
}

/* -------------------About Start----------------------- */
.about {
    padding: 60px 0;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row .about-col-1 {
    flex-basis: 30%;
}

.row .about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.row .about-col-2 {
    flex-basis: 65%;
}

.row .about-col-2 h1 {
    text-align: center;
    position: relative;
    cursor: pointer;
    color: #ff6565;
    font-size: 50px;
    font-weight: 800;
}

.row .about-col-2 .abt-me {
    margin-top: 25px;
    color: #9d9d9d;
    font-size: 18px;
}

.col-2-tab {
    display: flex;
    margin: 20px 0 20px;
    color: #a59797;
}

.col-2-tab .tab-title {
    font-size: 22px;
    font-weight: 700;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
}

.col-2-tab .tab-title::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.col-2-tab .tab-title.active-title::after {
    width: 80%;
}

.tab-contents {
    border: 5px solid rgb(195, 251, 218);
    border-radius: 10px;
    width: fit-content;
    padding: 5px 15px;
    display: none;
}

.tab-contents ul li {
    list-style: none;
    margin: 15px 0;
}

.tab-contents ul li span:nth-child(1) {
    color: #ff1c1c;
}

.tab-contents.active-tab {
    display: block;
}


/* -------------------About End----------------------- */